<section>
  <div class="container">
    <h2 class="projects-title">Projects</h2>

    <!-- Slider main container -->
    <div class="swiper">
      <!-- Additional required wrapper -->

      <ul class="swiper-wrapper">
        <!-- Slides -->
        <li class="swiper-slide">
          <ul class="swiper-slide-project">
            <li class="swiper-slide-project-describe">
              <ul class="swiper-slide-project-describe-skills-list">
                <li class="swiper-slide-project-describe-skills-item">
                  <span> #react</span>
                </li>
                <li class="swiper-slide-project-describe-skills-item">
                  <span>#js</span>
                </li>
                <li class="swiper-slide-project-describe-skills-item">
                  <span> #node js</span>
                </li>
                <li class="swiper-slide-project-describe-skills-item">
                  <span>#git</span>
                </li>
              </ul>
              <h3 class="swiper-slide-project-describe-subtitle">
                Programming Across Borders: Ideas, Technologies, Innovations
              </h3>
              <a
                href="https://github.com/maryna-bobryk/team-project-portfolio-website.git"
                target="_blank"
                class="swiper-slide-project-btn"
                rel="noopener noreferrer"
                >See project</a
              >
            </li>
            <li class="swiper-slide-project-img">
              <img src="../img/projects/project-1-desc.webp" alt="projects#1" />
            </li>
          </ul>
        </li>
        <li class="swiper-slide">
          <ul class="swiper-slide-project">
            <li class="swiper-slide-project-describe">
              <ul class="swiper-slide-project-describe-skills-list">
                <li class="swiper-slide-project-describe-skills-item">
                  <span> #react</span>
                </li>
                <li class="swiper-slide-project-describe-skills-item">
                  <span>#js</span>
                </li>
                <li class="swiper-slide-project-describe-skills-item">
                  <span> #node js</span>
                </li>
                <li class="swiper-slide-project-describe-skills-item">
                  <span>#git</span>
                </li>
              </ul>
              <h3 class="swiper-slide-project-describe-subtitle">
                Programming Across Borders: Ideas, Technologies, Innovations
              </h3>
              <a
                href="https://github.com/maryna-bobryk/team-project-portfolio-website.git"
                target="_blank"
                class="swiper-slide-project-btn"
                rel="noopener noreferrer"
                >See project</a
              >
            </li>
            <li class="swiper-slide-project-img">
              <img src="../img/projects/project-2-desc.webp" alt="projects#2" />
            </li>
          </ul>
        </li>
        <li class="swiper-slide">
          <ul class="swiper-slide-project">
            <li class="swiper-slide-project-describe">
              <ul class="swiper-slide-project-describe-skills-list">
                <li class="swiper-slide-project-describe-skills-item">
                  <span> #react</span>
                </li>
                <li class="swiper-slide-project-describe-skills-item">
                  <span>#js</span>
                </li>
                <li class="swiper-slide-project-describe-skills-item">
                  <span> #node js</span>
                </li>
                <li class="swiper-slide-project-describe-skills-item">
                  <span>#git</span>
                </li>
              </ul>
              <h3 class="swiper-slide-project-describe-subtitle">
                Programming Across Borders: Ideas, Technologies, Innovations
              </h3>
              <a
                href="https://github.com/maryna-bobryk/team-project-portfolio-website.git"
                target="_blank"
                class="swiper-slide-project-btn"
                rel="noopener noreferrer"
                >See project</a
              >
            </li>
            <li class="swiper-slide-project-img">
              <img src="../img/projects/project-3-desc.webp" alt="projects#3" />
            </li>
          </ul>
        </li>
      </ul>

      <!-- If we need navigation buttons -->
      <div class="swiper-button">
        <div class="swiper-btn-prev">
          <svg class="swiper-btn-prev-icon-svg">
            <use href="/img/sprite.svg#icon-facebook"></use>
          </svg>
        </div>
        <div class="swiper-btn-next"></div>
      </div>
    </div>
  </div>
</section>
