<section id="reviews" class="reviews">
  <div class="container">
    <h2 class="reviews-title">Reviews</h2>
    <div class="swiper">
      <div class="swiper-card">
        <ul class="swiper-wrapper" id="reviews-list">
          <!-- Відгуки будуть додані динамічно -->
        </ul>
      </div>
      <div class="reviews swiper-button-prev">
        <svg class="swiper-button-icon" width="32" height="32">
          <use href="img/sprite.svg#arrow"></use>
        </svg>
      </div>
      <div class="reviews swiper-button-next">
        <svg class="swiper-button-icon" width="32" height="32">
          <use href="img/sprite.svg#arrow"></use>
        </svg>
      </div>
    </div>
    <p id="error-message" class="error-message visually-hidden">Not found</p>
  </div>
</section>
