.about-wrapper {
  margin-bottom: 32px;
}

.about-sloganbox {
  border-radius: 24px;
  width: 100%;
  padding: 32px;
  margin-bottom: 16px;
  min-height: 500px;
  background-color: #242527;
}

.about-slogan {
  font-weight: 500;
  font-size: 24px;
  line-height: 1.17;
  letter-spacing: -0.03em;
  text-transform: uppercase;
  color: #fafafa;
}

.about-me picture {
  border-radius: 24px;
  max-width: 100%;
}

.text-red {
  color: #ed3b44;
}

.text-gray {
  color: rgba(250, 250, 250, 0.4);
}

/* ---------------------- ABOUT ---------------------- */
.about-content {
  margin-bottom: 32px;
}

.content-list {
  border-radius: 100%;
}

.content-item {
  margin-bottom: 20px;
  padding-bottom: 20px;
  border-bottom: solid 1px;
  border-color: rgba(250, 250, 250, 0.2);
}

.content-list .content-item:last-child {
  margin-bottom: 0;
}
.content-item-header {
  display: flex;
  justify-content: space-between;
  padding-bottom: 8px;
}

.content-item-text .content-item-desc:first-child {
  margin-bottom: 32px;
}

.content-item-title {
  font-weight: 600;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: -0.02em;
  text-transform: uppercase;
  color: rgba(250, 250, 250, 0.4);
}

.content-arrow {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 36px;
  height: 36px;
  border-radius: 50%;
  border: solid 1px;
  border-color: rgba(250, 250, 250, 0.2);
}

.content-arrow-icon {
  width: 18px;
  height: 18px;
  stroke: #fafafa;
  /* fill: #fafafa; */
}

.content-item-desc {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: -0.02em;
  color: #fafafa;
}

/* ---------------------- SKILLS --------------------- */
.about-skills {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.skills-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: start;
  align-items: center;
}

.skills-item {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 130px;
  height: 130px;
  border-radius: 100%;
  border: solid 1px;
  border-color: rgba(250, 250, 250, 0.2);
}

.skills-text {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: -0.02em;
  color: #fafafa;
  text-align: center;
}

.active {
  background-color: #ed3b44;
  border: none;
}

.skills-arrow-icon {
  width: 28px;
  height: 28px;
  stroke: #3b3b3b;
  fill: none;
}

/*---------------------- MEDIA --------------------- */

/* Styles for Tablet devices */
@media only screen and (min-width: 768px) {
  .about-wrapper {
    margin-bottom: 64px;
  }

  .about-sloganbox {
    min-height: 700px;
    padding: 64px;
  }

  .about-slogan {
    font-size: 38px;
  }
  /*--------- ROLE MEDIA ----- */

  .about-content {
    margin-bottom: 64px;
  }

  .content-item {
    margin-bottom: 32px;
    padding-bottom: 32px;
  }

  .content-item-text .content-item-desc:first-child {
    margin-bottom: 16px;
  }

  /*--------- SKILLS MEDIA ----- */

  .skills-item {
    width: 200px;
    height: 200px;
  }

  .skills-text {
    font-size: 20px;
  }

  .skills-arrow-icon {
    width: 40px;
    height: 40px;
  }
}

/* Styles for Desktop devices */
@media only screen and (min-width: 1440px) {
  .about-wrapper {
    margin-bottom: 96px;
  }

  .about-desc {
    display: flex;
    flex-wrap: nowrap;
    gap: 16px;
  }

  .about-sloganbox {
    max-width: 680px;
    margin-bottom: 0;
  }

  .about-me-image {
    height: 700px;
    border-radius: 24px;
    object-fit: cover;
  }

  /*--------- ROLE MEDIA ----- */
  .about-content {
    margin-bottom: 96px;
  }

  .content-item {
    display: grid;
    grid-template-columns: 1fr 1fr;
    width: 100%;
  }
  .content-item-header {
    grid-column: 1 / 3;
  }

  .content-item-text {
    grid-column: 2;
  }

  .content-item-copy {
    grid-column: 2;
  }

  /*--------- SKILLS MEDIA ----- */
  .about-skills {
    padding: 0 32px;
  }
}
