/* PROJECTS */

.project-title {
  font-weight: 600;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: -0.02em;
  text-transform: uppercase;
  color: rgba(250, 250, 250, 0.4);
  margin-bottom: 32px;
}

.swiper-project {
  width: 1376px;
}

.swiper-wrapper-list {
  margin-bottom: 64px;
}

.swiper-slide-item {
  min-height: 625px;
}

.swiper-slide-project {
  display: flex;
  flex-direction: row;
}

.swiper-slide-project-describe {
  background-color: #fff;
  border-radius: 24px 0 0 24px;
  flex: 1;
  height: 625px;
  padding: 64px 0 64px 64px;
}

.swiper-slide-project-describe-skills-list {
  display: flex;
  flex-direction: row;
  gap: 6px;
  margin-bottom: 223px;
}

.swiper-slide-project-describe-skills-item {
  display: flex;
  border: 1px solid rgba(28, 29, 32, 0.2);
  border-radius: 60px;
  padding: 18px;

  align-items: center;
  justify-content: center;
}
.swiper-slide-project-describe-skills-item span {
  display: block;
  font-weight: 500;
  font-size: 16px;
  letter-spacing: -0.02em;
  color: #1c1d20;
  white-space: nowrap;
}

.swiper-slide-project-describe-subtitle {
  font-weight: 500;
  font-size: 44px;

  line-height: 1;
  letter-spacing: -0.03em;
  color: #1c1d20;
  width: 494px;
  margin-bottom: 32px;
}

.swiper-slide-project-btn {
  border-radius: 60px;
  padding: 18px 50px;
  width: 177px;
  height: 55px;
  background-color: #ed3b44;
  font-weight: 500;
  font-size: 16px;
  letter-spacing: -0.02em;
  color: #fafafa;
  cursor: pointer;
  border: none;
}

.swiper-slide-project-btn:hover {
  background-color: #e0373f;
  transition: cubic-bezier(0.075, 0.82, 0.165, 1) 0.7s;
}

.swiper-slide-project-btn:focus {
  background-color: #e0373f;
  transition: cubic-bezier(0.075, 0.82, 0.165, 1) 0.7s;
}

.swiper-slide-project-img {
  background-color: #242527;
  border-radius: 0 24px 24px 0;
  flex: 1;
  height: 625px;
  padding: 120px 37px;
}

.swiper-project-button {
  display: flex;
  flex-direction: row;
  gap: 20px;
  align-items: center;
  justify-content: center;
}

.swiper-project-btn-prev {
  border: 1px solid rgba(250, 250, 250, 0.2);
  border-radius: 60px;
  padding: 18px;
  width: 68px;
  height: 68px;
  cursor: pointer;
}

.swiper-project-btn-next {
  border: 1px solid rgba(250, 250, 250, 0.5);
  border-radius: 60px;
  padding: 18px;
  width: 68px;
  height: 68px;
  cursor: pointer;
}

.swiper-project-btn-prev-icon-svg {
  fill: transparent;
  stroke: #3b3b3b;
}

.swiper-project-btn-next-icon-svg {
  fill: transparent;
  stroke: #fafafa;
}
